.btn-form-div{
    display: block;
}

.send-email-btn{
    margin-bottom: 1em;
}
.error-span{
    display: contents;
}

.my-shiying-iphone{

}
.my-set-panel{
    margin-top: 30%
}
.my-set-panel-login{
    margin-top: 50%
}
.forgot-a{
    margin-top: 1em;
}